<div id="page-wrap">
  <div id="static-pages">
  <div class="container-fluid">

				<div class="row-fluid">
				  <div class="span9" style="padding-right:10px;">


<h3>Privacy</h3>
<p><b>Techosh.com respects your privacy.</b></p>
<p>Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Techosh.com.</p>

<p><b>Credit card details</b></p>
<p>Techosh.com will never ask for Credit Card details and request that you do not enter it on any of the forms on Techosh.com.</p>

<p><b>External Sites.</b></p>
<p>Techosh.com is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.</p>

<p><b>Cookies </b></p>
<p>A "cookie" is a small data text file that is placed in your browser and allows Techosh.com to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and Techosh.com does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.</p>

<p><b>Remember The Risks Whenever You Use The Internet </b></p>
<p>While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Techosh.com and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition other Internet sites or services that may be accessible through Techosh.com have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions. </p>
<p>Please contact those vendors and others directly if you have any questions about their privacy policies.</p>

For any other information email <a href='mailto:techoshdotcom@gmail.com'>webmaster</a>






				  </div>
				  <div class="span3" style="margin-left:-2px;">
				  <%= render partial: "sidebar" %>
							
				  </div>
				 </div>
			  </div>
			 </div>
			</div>