<!-- BEGIN .content -->
			<section class="content">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					


					<!-- <div class="main-content has-sidebar"> -->
					<!-- <div class="main-content has-double-sidebar"> -->
					<div class="main-content">

						<div class="big-message">
							<h2>500</h2>
							<div>
								<h3>Internal Server Error</h3>
							</div>
							<p>Something went wrong but I can’t tell you what, sorry.</p>
							<div class="msg-menu">
								<a href="#">Homepage</a>
								<a href="#">Contact Us</a>
							</div>
						</div>

					</div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- BEGIN .content -->
			</section>