<div class="blog-widget">
								<h4 class='blog-widget-title'>Archive</h4>
								<ul class="blog-widget-recent-posts">
									<li>
										<a href="more-blog-post.html">
											<span class="details">
												<span class="date"><i class="icon-calendar"></i>July 5, 2013</span>
											</span>
										</a>
									</li>
									
								</ul>
							</div>
							
							
							<div class="blog-widget">
								<h4 class='blog-widget-title'>Tags</h4>
								<ul class="blog-widget-tags">
									<li><a href="#">flat</a></li>
									<li><a href="#">ui</a></li>
									<li><a href="#">metro</a></li>
									<li><a href="#">windows 8</a></li>
									<li><a href="#">clean</a></li>
									<li><a href="#">easy</a></li>
									<li><a href="#">customizable</a></li>
								</ul>
							</div>