<div id="page-wrap" style="padding-top:10px;">
 <div class="container-fluid">
				<div class="row-fluid">
						<div class="span9">
						<% @blogs.each do |blog| %>	
							<div class="row-fluid">
								<div class="blog-list-post">
									<div class="post-content">
										<h4 class="post-title">
											<%= link_to blog.title, blog_show_path(blog) %>
										</h4>
										<div class="post-meta">
											<span class="date">
												<i class="icon-calendar"></i> <%= to_date(blog.created_at) %>
											</span>
											<span class="author">
												<i class="icon-user"></i> admin
											</span>
										</div>
										<div class="post-text">
											<p><%= truncate(strip_tags(blog.body), :length => 200) %></p>
										</div>
									</div>
								</div>
							</div>
                         <% end %>
						</div>
						<div class="span3">
							<%= render 'blog_sidebar' %>
						</div>
					</div>
				</div>
			</div>
		 </div>
				