	<!-- BEGIN .footer -->
			<footer class="footer">
				
				<div class="footer-copyright">
					<!-- BEGIN .wrapper -->
					<div class="wrapper">
						<p class="right">Designed by <strong><a href="http://orange-themes.com" target="_blank">Orange-Themes.com</a></strong></p>
						<p>&copy; All Rights Reserved <strong>Fraction Magazine</strong></p>
					<!-- END .wrapper -->
					</div>
				</div>
				
			<!-- END .footer -->
			</footer>