	<!-- BEGIN .footer -->
			<footer class="footer">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">

					<div class="footer-widgets">

						<!-- BEGIN .widget -->
						<div class="widget">
							<h3>University</h3>
							<div class="socialize-widget">
							
                              <%=raw university_links %>	
							</div>
						<!-- END .widget -->
						</div>

						<div class="widget">
							<h3>Subject</h3>
							<div class="socialize-widget">
							<%=raw subject_links %>	
							</div>
						<!-- END .widget -->
						</div>
							<div class="widget">
							<h3>Category</h3>
							<div class="socialize-widget">
							<%=raw category_links %>	
							</div>
						<!-- END .widget -->
						</div>
					

					</div>
					
				<!-- END .wrapper -->
				</div>

				<div class="footer-copyright">
					<!-- BEGIN .wrapper -->
					<div class="wrapper">
						<p class="right">Powered by <strong><a href="http://www.techosh.com" target="_blank">Techosh.com</a></strong></p>
						<p>&copy; All Rights Reserved <strong>Techosh.com</strong></p>
					<!-- END .wrapper -->
					</div>
				</div>
				
			<!-- END .footer -->
			</footer>